.bg-legal-color {
    background-color: #B68C5A;
}

/* banner */
.banner {
    background-image: url(/images/Rectangle\ 5.png), url(/images/banner.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
    background-size: cover;
}